<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="UPDATES">
		<setting id="checkupdates" type="bool" label="Check for build updates on Kodi startup" default="true"/>
		<!--<setting id="autoupdates" type="bool" label="Auto update build on Kodi startup" default="true"/>-->
		<setting id="updaterepos" type="bool" label="Auto update addons and repos on Kodi startup" default="true"/>
   	</category>

	<category label="MAINTENANCE">
		<setting type="lsep" label="Launch Time Clean Up"/>
		<setting id="acstartup" type="bool" label="Clear on Kodi Launch" default="false"/>	
		<setting type="lsep" label="Clean Up At Certain MB"/>
		<setting id="cachemb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Cache At (MB)" default="0"/>
		<setting id="packagesmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Packages At (MB)" default="0"/>
		<setting id="thumbsmb" type="enum" values="Disabled|25 MB|50 MB|75 MB|100 MB" label="Clear Thumbnails At (MB)" default="0"/>
		<setting type="lsep" label="Weekly Clean Out"/>
		<setting id="clearday" type="enum" values="None|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday" label="Clean Out Day" default="0"/>
		<setting type="lsep" label="Clean Up Options"/>
		<setting id="accache" type="bool" label="Clear Cache" default="false"/>	
		<setting id="accrash" type="bool" label="Clear Crash Logs" default="false"/>	
		<setting id="acthumbs" type="bool" label="Clear Thumbnails" default="false"/>	
		<setting id="acpackages" type="bool" label="Purge Packages" default="false"/>	
   	</category>
	
	<category label="BACKUPS">
		<setting type="lsep" label="[COLOR=dodgerblue]Backups[/COLOR]"/>
		<setting id="zip" type="folder" label="Choose Backup Storage Location:" default="special://home/backupdir"/>
   	</category>
	
	<!--
	<category label="LOGS">
		<setting type="lsep" label="[COLOR=dodgerblue]Log Settings[/COLOR]"/>
		<setting id="email" type="text" label="E-Mail Address:"/>
		<setting id="skip_oldlog" type="bool" label="Skip Old Log On Upload" default="true"/>	
	</category>
	-->
	
</settings>